@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply bg-[rgba(165,202,211,1)] text-white px-4 py-2 m-2  rounded;
}

.btn:hover {
  @apply bg-[rgba(139,172,180,1)]; /* Customize hover color if needed */
}
